<!DOCTYPE html>
<html>
<head>
  <title>视频示例</title>
</head>
<body>
  <h2><font color="red">{{video_name[0]}}</font></h2>
  <video width="640" height="360" controls>
    <source src={{ video[0] }} type="video/mp4"> 
    Your browser does not support the video tag.
  </video> 
  <h2><font color="red">{{video_name[1]}}</font></h2>
  <video width="640" height="360" controls>
    <source src={{ video[1] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2><font color="red">{{video_name[2]}}</font></h2>
  <video width="640" height="360" controls>
    <source src={{ video[2] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2>{{video_name[3]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[3] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2>{{video_name[4]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[4] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2>{{video_name[5]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[5] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2>{{video_name[6]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[6] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2>{{video_name[7]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[7] }} type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <h2>{{video_name[8]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[8] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2>{{video_name[9]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[9] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2>{{video_name[10]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[10] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2>{{video_name[11]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[11] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2>{{video_name[12]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[12] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  <h2>{{video_name[13]}}</h2>
  <video width="640" height="360" controls>
    <source src={{ video[13] }} type="video/mp4">
    Your browser does not support the video tag.
  </video> 
  
</body>
</html>